<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
  <%- include("templates/head") %>

  <link rel="stylesheet" href="/styles/admin.css">
</head>

<body>
  <div id="container">
    <div class="finisher-header">
      <%- include("templates/nav") %>

      <main class="justify-content-start">
        <div id="h1-wrapper">
          <h1 class="heading text-left">Users</h1>
        </div>

        <div id="table-wrapper" class="px-4 py-3">
          <table class="table mx-1">
            <thead>
              <tr></tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <%- include("templates/users") %>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <%- include("templates/footer") %>
  </div>

  <script src="/scripts/finisher-header.es5.min.js"></script>
  <script src="/scripts/admin.js"></script>
  <script src="/scripts/header.js"></script>
</body>

</html>