<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <%- include("templates/head") %>

  <style>
    .hidden {
      display: none;
    }

    nav.navbar {
      position: relative;

      #nav-container {
        margin: 0 !important;
      }
    }

    #container {
      justify-content: unset;

      #wrapper {
        margin-top: auto;
        margin-bottom: auto;
        gap: 100px;

        p {
          padding-left: 19px;
          color: rgb(170, 170, 170);
        }
      }
    }
  </style>
</head>

<body>
  <div id="container">
    <div id="wrapper" class="d-flex flex-row">
      <div class="d-flex flex-column">
        <h1 class="fs-1 ps-3 mb-1"><%= anon ? 'Please sign up or login' : 'Hello, ' + name %></h1>
        <p class="fs-4 mb-3">Welcome back</p>
      </div>
      <%- include("templates/nav") %>
    </div>
    <%- include("templates/footer") %>
  </div>
</body>

</html>