<!DOCTYPE html>
<html lang="en">

<head>
  <title>Members</title>
  <%- include('templates/head') %>

  <link rel="stylesheet" href="/styles/members.css">
</head>

<body>
  <template>
    <div class="pokemon-card position-relative">
      <div class="inner">
        <img src="/assets/pokemon-card-back.webp" alt="Pokemon Card" class="back" width="200" draggable="false">
        <div class="front">
          <img src="" alt="" width="200" draggable="false">
          <p class="text-white mt-3"></p>
        </div>
      </div>
    </div>
  </template>

  <div id="container">
    <%- include('templates/nav') %>

    <div id="loader-wrapper">
      <div class="pokeball-loader"></div>
      <h1>Loading...</h1>
    </div>

    <main class="justify-content-start px-4 mb-5" hidden>
      <div id="heading-wrapper" class="w-100 text-start">
        <h1 class="heading mb-2">Pokemon Matching Game</h1>
        <p>Match all the cards to win!</h2>
      </div>

      <div id="board" class="my-5">
      </div>
    </main>

    <%- include('templates/footer') %>
  </div>

  <script src="/scripts/members.js" type="module"></script>
</body>

</html>