<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign up</title>
  <%- include('templates/head') %>

  <style>
    h1 {
      font-size: 2.5rem;
    }
  </style>
</head>

<body>
  <div id="container">
    <%- include('templates/header') %>

    <div id="form-wrapper">
      <h1>Sign up</h1>
      <form action="/signup" method="POST">
        <input placeholder="Name" type="text" name="name" id="name" autocomplete="off" />
        <input placeholder="Email" type="email" name="email" id="email" autocomplete="off" />
        <input placeholder="Password" type="password" name="password" id="password" autocomplete="off" />
        <input class="btn btn-primary" type="submit" />
      </form>
    </div>
  </div>
</body>

</html>