<nav class="navbar navbar-expand-md fixed-top" data-bs-theme="dark">
  <div id="nav-container" class="container w-auto mt-3 py-3 px-4 rounded-pill gap-2">
    <a class="navbar-brand border-0 bg-transparent m-0 p-0 ps-1 pe-4 lh-base text-light" href="/"><img src="/assets/lexus-logo-white-32.png" alt="Lexus">&nbsp;Lexus</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Lexus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav gap-0.5">
          <li class="nav-item p-0">
            <a class="nav-link border-0 rounded-pill" href="/">Home</a>
          </li>

          <li class="nav-item p-0">
            <a class="nav-link border-0 rounded-pill" href="/members">Members</a>
          </li>

          <li class="nav-item p-0">
            <a class="nav-link border-0 rounded-pill" href="/admin">Admin</a>
          </li>

          <li class="nav-item ps-4 pe-2 d-flex gap-2">
            <a class="btn btn-primary <%= anon ? '' : 'd-none' %>" href="/login">Login</a>
            <a class="btn btn-secondary <%= anon ? '' : 'd-none' %>" href="/signup">Signup</a>
            <a class="btn btn-primary <%= anon ? 'd-none' : '' %>" href="/logout">Logout</a>
          </li>
      </div>
    </div>
  </div>
</nav>