body {
  background: var(--bg-primary);
}

.heading {
  width: max-content;
}

#loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h1 {
    font-size: 2.2rem;
  }
}

#heading-wrapper {
  padding-left: 14.8%;
  overflow: hidden;

  p {
    color: var(--light-grey);
    font-size: 1.2rem;
  }
}

#game {
  /* height: 700px; */
}

#board {
  --cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--cols), 200px);
  grid-template-rows: repeat(2, 270px);
  gap: 50px;
  background-color: rgba(85, 85, 85, 0.123);
  backdrop-filter: blur(5px);

  /* border: 1px solid rgb(54, 54, 54); */
  border-radius: 15px;
  padding: 75px;
  position: relative;

  #overlay {
    z-index: 9999;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);

    h1 {
      color: rgb(182, 182, 182);
      font-size: 1.3rem;
    }
  }
}

#control-panel {
  background-color: rgba(85, 85, 85, 0.123);
  backdrop-filter: blur(5px);
  height: 100%;
  border-radius: 15px;
  /* border: 1px solid rgb(54, 54, 54); */
  box-shadow: var(--shadow-primary);

  #difficulty-toggle {
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
    border: 1px solid rgb(56, 56, 56);

    label {
      input {
        display: none;
      }
      input:checked + span {
        background-color: rgb(51, 51, 51);
        font-weight: 500;
      }

      span {
        text-align: center;
        border-radius: 8px;
        padding-block: 6px;
        width: 90px;
        display: inline-block;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        user-select: none;
      }
    }
  }

  #start {
    background-color: rgb(7, 124, 7);
    border: 1px solid white;
    /* border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  }
  #start:hover {
    background-color: rgb(16, 163, 16);
  }

  #timer {
    width: 150px;
    height: 150px;
  }

  #reset {
    background-color: rgba(212, 11, 11, 0.747);
    border: 1px solid white;
  }
  #reset:hover {
    background-color: rgba(255, 0, 0, 0.815);
  }
}

.pokemon-card {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;

  .inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    cursor: pointer;
    width: 200px;

    .front,
    .back {
      position: absolute;
      inset: 0;
      backface-visibility: hidden;

      /* prevent text-selection / highlight */
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .front {
      transform: rotateY(180deg) translateX(-150px) translateY(15px);
      text-align: center;

      p {
        text-transform: capitalize;
      }
    }
    .back {
      transform: rotateY(0deg);
    }
  }

  .inner.flipped {
    transform: rotateY(180deg) translateX(-150px);
  }
}
