@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --grey-border-primary: 1px solid rgb(53, 53, 53);
  --input-bg-primary: rgb(22, 22, 22);
  --h1-font-size-primary: clamp(3.5rem, 3.5vw, 5rem);
  --gradient-primary: linear-gradient(
    90deg,
    rgb(209, 153, 48),
    rgb(223, 16, 16),
    rgb(148, 64, 228)
  );
  --shadow-primary: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 8px rgba(255, 255, 255, 0.05);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  font-family: "Geist", sans-serif;
  margin: 0;

  h1 {
    background: var(--gradient-primary);
    background-clip: text;
    color: transparent;
  }
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

footer ul {
  list-style: none;
  color: rgb(146, 146, 146);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .form-control {
    border: var(--grey-border-primary);
    padding: 15px 25px 15px 25px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--input-bg-primary);
    color: white;
  }
  .form-control:focus {
    box-shadow: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    background: linear-gradient(var(--input-bg-primary), var(--input-bg-primary)) padding-box,
      var(--gradient-primary) border-box;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
  }
  input::placeholder {
    color: rgb(151, 151, 151);
  }
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
  padding: 65px;
  border-radius: 20px;
  box-shadow: var(--shadow-primary);
  border: var(--grey-border-primary);
}

.btn {
  border: var(--grey-border-primary);
  border-radius: 10px;
  transition: all 0.2s ease-in;
  padding: 7px 12px;
}
.btn:hover {
  border: var(--grey-border-primary);
}
.btn-primary {
  background-color: var(--input-bg-primary);
}
.btn-primary:hover {
  background-color: rgb(41, 41, 41);
}
.btn-secondary {
  background-color: white;
  color: black;
}
.btn-secondary:hover {
  background-color: rgb(177, 177, 177);
  color: black;
}

#nav-container {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: var(--shadow-primary);

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    color: rgb(165, 165, 165);
    background-color: transparent;
    padding: 5px 12px;
  }
  .nav-link:hover {
    color: white;
    background-color: rgb(22, 22, 22);
  }
}

.fs-1 {
  font-size: 3.5rem !important;
}
